.questionManager {
    margin: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.questionManager h1 {
    text-align: center;
}

.questionList {
    padding: 16px;
}

.questionList>li {
    margin-bottom: 16px;
}