.correct {
    background-color: green;
}

.ansverList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.ansverList li {
    display: inline;
}