.label {
    padding: 8px;
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: gray;
}

.label:hover {
    background-color: #33f;
}

.button {
    margin-top: 80px;
    font-size: 2rem;
}

.correct {
    background-color: green;
}

.selected {
    background-color: darkgoldenrod;
}

.incorrect {
    background-color: red;
}

.hidden {
    display: none;
}

.ansverContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px 16px;
}