a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    padding: 4px 24px;
}

.active,
a:hover {
    background-color: #00f;
}

.NavBar {
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
}