html,body{
  margin: 0;
  height: 100%;
}
html{
  background-color: #1020A0;
  color:  white;
}
#root{
  height: 100%;
  position: relative;
}

button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

button:disabled{
  background-color: gray;
  cursor: not-allowed;
}
